/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  text-align: center;
  background-image: url("../img/clouds.png")
}

h2 {
  padding: 100px 20px 20px 20px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
